// 
// Header
//
.header
	display table
	width 100% 
	&-right-part,
	&-left-part
		display: table-cell
		vertical-align: middle
		padding: 15px 0
		background-color: #C0392B 

	#logo
		float: left 
		margin-left: 30px
		h1
			margin:0
				
	.nav-bar,
	&-status
		float: right		
	&-right-part 
		margin-right: 30px
		background-color: #333

	.navigation
		margin: 0
		padding: 0 

		li
			list-style: none
			line-height: 3
			padding: 0 5px
		
			a 
				color: #f1f1f1
				text-transform: uppercase
				font-weight: 600

//
// Content
//
.portfolio-list
	margin: 0
	padding:0
	overflow: hidden

	li
		list-style:none