// 
// Header
//
.header
	display table
	width 100%
	.header-right-part,
	.header-left-part
		display: table-cell
		vertical-align: middle
	#logo
		float: left 
		h1
			margin:0
				
	.nav-bar,
	.header-status
		float: right		
			
