//
// Header
//
.header 
	#logo
		float: left 
		margin-left: 30px
		h1
			margin:0
			color:#fff
				
	.nav-bar,
	&-status
		float: right		
	&-right-part 
		margin-right: 30px
		background-color: #333

	.navigation
		margin: 0
		padding: 0 

		li
			list-style: none
			line-height: 3
			padding: 0 5px
		
			a
				text-decoration: none
				color: #f1f1f1
				text-transform: uppercase
				font-weight: 600
				padding: 0 10px

	&-right-social
		list-style:none

		a
			color:#fff
			font-size:14px
			padding: 0 10px


//
// Content
//
.portfolio-list
	
	li
		width: 50%
		float: left
		position: relative

	img
		vertical-align: middle

	span
		position: absolute
		bottom: 0
		padding: 10px
		display: block
		width: 100%
		background: #fff